<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<% if @user.projects.count > 0 %>

	<h3>Active Projects</h3>
	
	<ul>
		<% @user.projects.each do |project| %>
			<li><%= link_to project.name, project %></li>
		<% end %>
	</ul>
	
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
