<%= render "shared/meta" %>
<body id="<%= controller.controller_name %>">
	<%= render "shared/navigation" %>
	
	<div class="wrapper"> 
		<%= yield :header %>
		
		<div class="container">
			<%= yield %>
		</div>
		
		<%= render "shared/footer" %>
	</div>
	
</body>
</html>
