<!DOCTYPE html>
<html>
<head>
  <title>Project Echo</title>
  <%= stylesheet_link_tag "screen", "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= controller.controller_name %>">
	<div id="dashboard">
		<div id="dashboard-wrapper">
			
			<div id="db-logo">
				<h1><%= link_to(image_tag("echo-logo.png"), root_path)%></h1>
			</div>
			
			<div class="db-menu">
				<ul>
					<li><%= link_to "Browse", projects_path %></li>
					<li><%= link_to "Create", new_project_path %></li>
					<li><%= link_to "FAQ", "faq" %></li>
					<li><%= link_to "Blog", "blog" %></li>
				</ul>
			</div>
				
				<div class="network-search">
					
				</div>
			
			</div>
		</div>
	</div>
	
	<div class="wrapper"> 
		
		<%= yield :header %>
		
		<div class="container">
			<%= yield %>
		</div>
		<footer>
			<p>&copy;<%= Date.today.year %> Sharp Machine Media</p>
		</footer>
	</div>
	
</body>
</html>
