<%= render "shared/meta" %>
<body id="project" class="<%= controller.controller_name %>">
	<%= render "shared/navigation" %>
	
	<div class="wrapper">
		<% content_for :header do %>
			<%= render "projects/tagline", project: @project %>
		<% end %>
		
		<%= yield :header %>
		
		<div class="container">
			<%= render "projects/header", project: @project %>

			<div class="page span-15">
				<%= yield %>
			</div>

			<%= render "projects/sidebar", project: @project %>
		</div>
		
		<%= render "shared/footer" %>
	</div>
</body>
</html>
