<!DOCTYPE html>
<html>
<head>
  <title>Project Echo</title>
  <%= stylesheet_link_tag "screen", "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="project" class="<%= controller.controller_name %>">
	<%= render "shared/navigation" %>
	
	<div class="wrapper"> 
		<%= yield :header %>
		
		<div class="container">
			<%= render "projects/header", project: @project %>

			<div class="page span-15">
				<%= yield %>
			</div>

			<%= render "projects/sidebar", project: @project %>
		</div>
		
		<%= render "shared/footer" %>
	</div>
	
</body>
</html>
