<!--start sidebar--> 
<div class="sidebar span-9 last"> 

<div class="box funding"> 
	<p>
<b>Deadline:</b>
<%= project.deadline %>
</p>
	<div class="num">10<span>Supporters</span></div> 
	<div class="num">$2,133<span>pledged of <%= number_to_currency project.amount %> goal</span></div> 
	<div class="num">58<span>days to go</span></div> 
	<div class="num"><a href="funding" class="button">Support This</a></div> 
</div> 

<h1 class="box-title">Campaign By:</h1> 
<div class="box bio">
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Julio.jpg" width="80" height="80" alt="Julio" class="bio-thumb"> 
	<h4><%= link_to project.user.name, project.user %></h4> 
	<span class="location"><img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/location.png" alt="Location"><%= project.location %></span> 
	<span class="send-message"><a href="#"><img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/email.png" alt="Location" width="20" height="20">Send Me a Message</a></span> 
	<span class="social"></span> 
	<p class="clear"><%= project.user.bio %></p>
	<a href="#"><img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/facebook.png" alt="Facebook" width="20" height="20"></a> 
	<a href="#"><img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/twitter.png" alt="Twitter" width="20" height="20"></a><br \> 
	<a href="http://julio2nz.com">http://julio2nz.com</a>
</div> 

<h1 class="box-title">Supporters</h1> 
<div class="box supporters">
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Shelly Kade.jpg" width="50" height="50" alt="Shelly Kade"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Roxanne Grace.jpg" width="50" height="50" alt="Roxanne Grace"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Nathan Pratt.jpg" width="50" height="50" alt="Nathan Pratt"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Nicki Dutton.jpg" width="50" height="50" alt="Nicki Dutton"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Mary Skelton.jpg" width="50" height="50" alt="Mary Skelton"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Damaris Rothlisberger.jpg" width="50" height="50" alt="Damaris Rothlisberger"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Barbara Kealiinohomoku.jpg" width="50" height="50" alt="Barbara Kealiinohomoku"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Shannen Kuntz.jpg" width="50" height="50" alt="Shannen Kuntz">	
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/Mark A.jpg" width="50" height="50" alt="Mark A"> 
	<img src="http://localhost/project-echo/jack/wp-content/themes/project-echo/images/jessekadegettinpaid.jpg" width="50" height="50" alt="Jessekadegettinpaid"> 
	<a href="http://localhost/project-echo/jack/supporters">See All</a> 
</div> 

<h1 class="box-title">Lastest Update</h1> 
	<div class="box">
		<span>10 days ago</span> 
		<% if @project.blogs.count > 0 %>
		<p><%= @project.updates.last.content %></p>
		<% end %>
		<%= link_to(raw("See All"), project_updates_path(project))%>
</div> 

<h1 class="box-title">Recent Comments</h1> 
<div class="box"> 
<p>NEw Commenssdsdd<br><em>&mdash; Julio Garcia&nbsp;10 days ago</em></p><p>Dude can I come live with you?  We can be sheep hearders, it will be crazy fun.  Wool underwear, yeah...<br><em>&mdash; Jesse Kade&nbsp;10 days ago</em></p><p>Man this is awesome.  Really super awesome.<br><em>&mdash; Jesse Kade&nbsp;10 days ago</em></p>		
<a href="http://localhost/project-echo/jack/comments">See All</a>	

</div> 

</div><!--end sidebar-->