<h1>Listing projects</h1>

<%= will_paginate @projects %>

<% @projects.each do |project| %>
	<div class="span-5 single-project">
		
		<%= link_to(image_tag("project-thumb.jpg"), project)%>
		<div class="project-details-wrap">
			<h2><%= link_to project.name, project %></h2>
			<h5>By:  <%= link_to project.user.name, project.user %></h5>
			<p><%= project.tagline %></p>
		</div>
		<span class="project-location"><%= link_to(image_tag("marker-location.png"), root_path)%><%= project.location %></span>
		
		<div class="project-progress-wrap">
			<div class="project-progress" style="width: 31%;"></div>
		</div>
		
		<div class="progress-numbers">
			<div class="progress-percentage">31%<span>Funded</span></div>
			<div class="amount-promised"><%= number_to_currency project.amount %><span>Promised</span></div>
			<div class="span-2 last days-left"><span><%= time_ago_in_words(project.deadline) %> Left</span></div>
		</div>
	</div>
<% end %>

<div class="clear"></div>
<%= will_paginate @projects %>

<%= link_to 'New Project', new_project_path %>