<h1>Listing projects</h1>

<%= will_paginate @projects %>

<% @projects.each do |project| %>
	<div class="span-5 box2 single-project">
		<h2><%= link_to project.name, project %></h2>
		<h5><%= project.tagline %></h5>
		<%= simple_format project.description %>
		<p class="amount-needed"><%= number_to_currency project.amount %></p>
		<p class="project-deadline"><%= project.deadline %></p>
	</div>
<% end %>

<div class="clear"></div>
<%= will_paginate @projects %>

<%= link_to 'New Project', new_project_path %>