<% content_for :header do %>
	<%= render "shared/home_tagline", project: @project %>
<% end %>

<h1>Listing projects</h1>

<%= will_paginate @projects %>

<% @projects.each do |project| %>
	<div class="span-5 single-project">
		
		<%= link_to(image_tag("project-thumb.jpg"), project)%>
		<div class="project-details-wrap">
			<h2><%= link_to project.name, project %></h2>
			<h5>By:  <%= link_to project.user.name, project.user %></h5>
			<p><%= project.tagline %></p>
		</div>
		<span class="project-location"><%= image_tag("marker-location.png") %><%= project.location %></span>
		
		<meter min="0" max="<%= project.amount %>" value="2133">Project Progress</meter>
		
		<!--<div class="project-progress-wrap">
			<div class="project-progress" promised="2133" goal="<%= project.amount %>"> </div>
		</div>-->
		
		<div class="progress-numbers">
			<div class="progress-percentage"><%= (2133/project.amount.to_f*100).floor %>%<span>Funded</span></div>
			<div class="amount-promised">$2,133<span>Promised</span></div>
			<div class="span-2 last days-left"><%= time_ago_in_words(project.deadline) %><span> Days Left</span></div>
		</div>
	</div>
<% end %>

<div class="clear"></div>
<%= will_paginate @projects %>

<%= link_to 'New Project', new_project_path %>