<iframe title="YouTube video player" class="youtube-player" type="text/html" width="569" height="456" src="http://www.youtube.com/embed/ZNNIg4zO5dM?rel=0" frameborder="0" allowFullScreen></iframe>

<div class="box share-campaign">
	<a href="#"><img src="http://www.indiegogo.com/images/button_share_facebook.PNG?1288825226" alt="" width="131"></a>
	<a href="#"><img src="http://www.indiegogo.com/images/button_share_twitter.PNG?1288825226" alt="" width="131"></a>
	<a href="#"><img src="http://www.indiegogo.com/images/button_share_email.PNG?1288825226" alt="" width="131"></a>
	<a href="#"><img src="http://www.indiegogo.com/images/button_share_widget.PNG?1288825226" alt="" width="131"></a>

	<hr />
	<h4>Share this campaign:<input type="text" value="<%= project_path(@project, :only_path => false) %>"><span id="clippy-tooltip" title="Copy to Clipboard"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          width="110"
          height="14"
          id="clippy">
    <param name="movie" value="/swfs/clippy.swf"/>
    <param name="allowScriptAccess" value="always" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param NAME="FlashVars" value="text=<%= project_path(@project, :only_path => false) %>">
    <param name="bgcolor" value="#ffffff">
    <embed src="/swfs/clippy.swf"
           width="14"
           height="14"
           name="clippy"
           quality="high"
           allowScriptAccess="always"
           type="application/x-shockwave-flash"
           pluginspage="http://www.macromedia.com/go/getflashplayer"
           FlashVars="text=<%= project_path(@project, :only_path => false) %>"
           bgcolor="#ffffff"
           />
  </object>
  </span>
  </h4>
</div>

<h1 class="box-title">The Lowdown</h1>
<div class="box">			
	<p><%= @project.description %></p>
</div>

<% if @project.blogs.count > 0 %>
	<h1 class="box-title">Recent Blog Post</h1>
	<div class="box blog-excerpt">


		<div id="post-44" class="post-44 post type-post hentry category-uncategorized">

			<h2 class="entry-title"><%= @project.blogs.last.title %></h2>
	
			<div class="pimp-entry-meta">
				<span class="month"><%= @project.blogs.last.created_at.strftime("%b") %></span>
				<span class="day"><%= @project.blogs.last.created_at.strftime("%d") %></span>
				<span class="year"><%= @project.blogs.last.created_at.strftime("%y") %></span>
			</div>
	
			<div class="entry-content">
				<p>
					<%= simple_format(truncate(@project.blogs.last.content, :length => 150)) %><%= link_to(raw("Continue Reading <span class=\"meta-nav\">&rarr;</span>"), project_blog_path(@project.blogs.last)) %>
				</p> 
			</div><!-- .entry-content -->
		</div><!-- #post-## -->
	</div>
<% end %>