<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @blog.project %>
</p>

<p>
  <b>Content:</b>
  <%= @blog.content %>
</p>


<%= link_to 'Edit', edit_project_blog_path(@blog) %> |
<%= link_to 'Back', project_blogs_path %>
