<% content_for :header do %>
	<%= render "shared/project_tagline", project: @project %>
<% end %>

<%= render "shared/project_nav", project: @project %>
<div class="page span-15">
	<% @comments.each do |comment| %>
	    <div><%= comment.user.name %></div>
	    <div><%= comment.content %></div>
	<% end %>

	<%= link_to 'New Comment', new_project_comment_path %>
</div>
<%= render "shared/project_details", project: @project %>